<div class="main-content" autoscroll="true" bs-affix-target="" init-ripples="" ng-controller="DashboardController">
    <section class="forms-basic grey lighten-5">
      
  <div class="page-header">

    <p class="lead">
     Welcome to gForce Dashboard!
    </p>
       
    <p class="lead">
     This is a test page with fake data. The major functions of this CRM is:
    </p>
 <p class="lead">
    <ul>
  <li>managing staffs and customers details</li>
  <li>creating customer PDF</li>
  <li>searching related information depending on different search criteria</li>
        <li>sending emails to staffs, customers and parents</li>
        <li>collecting and managing data from Hubspot, Zoho and Bamboohr through APIs</li>
        <li>creating customer profiles</li>
        <li>managing staff payroll</li>
        <li>tracking staff activities according to permissions</li>
        <li>creating customer resume files</li>
        <li>recording customer feedbacks</li>
        <li>announcing company information</li>
        <li>tracking application bugs</li>
        <li>recording application logs</li>
        <li>assigning staff tasks</li>
</ul>
 </p>	 
    <p class="lead">Have an awesome day!</p>
  </div>
		
		
		
		
	</section>
</div>
