<div class="aside bs-docs-aside" tabindex="-1" role="dialog">
        <div class="close" style="float: left;">
        <div class="btn btn-round btn-info" ng-click="$hide()"><i class="md md-close"></i></div>
    </div>

    <div class="aside-dialog">
        <div class="aside-body bs-sidebar">

            <form class="form-floating" novalidate="novalidate" ng-submit="saveEditItem(item)">
                <fieldset>
                    <legend>{{settings.cmd}} {{settings.singular}}</legend>

                    <div class="form-group filled">
                        <label class="control-label">Firstname</label>
                        <input type="text" class="form-control" ng-model="item.first_name" ng-disabled="!item.editing" required />
                    </div>

                    <div class="form-group filled">
                        <label class="control-label">Lastname</label>
                        <input type="text" class="form-control" ng-model="item.last_name" ng-disabled="!item.editing" required>
                    </div>
                    <div class="form-group filled">
                        <select ng-model="roleselect.selectedOption" name="role" class='form-control' id='' ng-options="option.name for option in roleselect.availableOptions track by option.id" ng-disabled="!item.editing"></select>
                    </div>
                    <div class="form-group filled">
                        <label class="control-label">Email</label>
                        <input type="text" class="form-control" ng-model="item.email" ng-disabled="!item.editing" required>
                    </div>
                    <div class="form-group filled">
                        <select ng-model="officeselect.selectedOption" name="office" class='form-control' id='' ng-options="option.name for option in officeselect.availableOptions track by option.id" ng-disabled="!item.editing"></select>
                    </div>

                    <div class="form-group">
                        <button type="submit" class="btn btn-lg btn-primary" ng-hide="!item.editing">Save</button>
                    </div>

                </fieldset>
            </form>

        </div>
    </div>
    

</div>
