<div class="aside bs-docs-aside" tabindex="-1" role="dialog" style="height:100px; width:62%; top:auto; right:25px; padding-top:30px;">
	<div class="row">
		<div class="col-md-12 column">
			<form class="form-floating" novalidate="novalidate">
				<div class="col-md-6">
					<button class="btn btn-lg btn-primary" ng-click="cancelProfileChange()">Discard</button>
				</div>
				<div class="col-md-6 text-right">
					<button class="btn btn-lg btn-primary" ng-click="saveProfileChange()">Save</button>
				</div>
			</form>
		</div>
	</div>
</div>
