<div class="aside bs-docs-aside" tabindex="-1" role="dialog" style="max-width:600px;">
    <div class="close">
        <div class="btn btn-round btn-info" ng-click="hideEditVoucherTPL()"><i class="md md-close"></i></div>
    </div>

    <div class="aside-dialog">
        <div class="aside-body bs-sidebar">
			
			

            <form class="form-floating" novalidate="novalidate" id="addPaymentForm" name="addPaymentForm">
                <fieldset>
					<legend>Edit this Travel Credit Deduction</legend>
                   
                        <div class="row">
							<div class="col-md-12">
								 <div class="form-group">  
							<label for="detail" class="control-label" style="position:relative;">Travel Credit Voucher</label>
							<input type="text" class="form-control" name="detail" ng-model="vEdit.travel_credit_voucher" required> 	  
							</div>
							</div>
							<div class="col-md-12">
								<div class="form-group">
							<label for="amount" class="control-label" style="position:relative;">Amount </label>
							<input type="number" class="form-control" name="amount" ng-model="vEdit.travel_voucher_amount" required> 	  
							</div>
							</div>
							<div class="col-md-12">
								<div class="form-group">
							   <div class="switch">
                                        <label class="filled"> Status: Inactive
                                            <input type="checkbox" ng-model="vEdit.travel_voucher_status" ng-change="" ng-true-value="'active'" ng-false-value="'inactive'"> <span class="lever"></span>Active</label>
                                    </div>	  
							</div>
							</div>
							<div class="col-md-12">
								<div class="form-group">
							<textarea class="form-control vertical" placeholder="Comments" rows="3" id="textArea" ng-model="vEdit.travel_voucher_comments"></textarea>
								
							</div>
                       </div>
                                </div>
                            

					
					<div class="form-group">
                                <button type="submit" class="btn btn-primary" ng-click="updateVoucherDetail(vEdit)">Update</button>
                                <button type="reset" class="btn btn-default">Cancel</button>
                            </div>
					
					
                </fieldset>
            </form>
			


        </div>
    </div>
</div>
