<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Materialism Angular Admin Theme">
    <meta name="author" content="Theme Guys - The Netherlands">
<link rel="apple-touch-icon-precomposed" sizes="57x57" href="../../assets/img/gforce-fav-icon-grey/apple-touch-icon-57x57.png" />
<link rel="apple-touch-icon-precomposed" sizes="114x114" href="../../assets/img/gforce-fav-icon-grey/apple-touch-icon-114x114.png" />
<link rel="apple-touch-icon-precomposed" sizes="72x72" href="../../assets/img/gforce-fav-icon-grey/apple-touch-icon-72x72.png" />
<link rel="apple-touch-icon-precomposed" sizes="144x144" href="../../assets/img/gforce-fav-icon-grey/apple-touch-icon-144x144.png" />
<link rel="apple-touch-icon-precomposed" sizes="60x60" href="../../assets/img/gforce-fav-icon-grey/apple-touch-icon-60x60.png" />
<link rel="apple-touch-icon-precomposed" sizes="120x120" href="../../assets/img/gforce-fav-icon-grey/apple-touch-icon-120x120.png" />
<link rel="apple-touch-icon-precomposed" sizes="76x76" href="../../assets/img/gforce-fav-icon-grey/apple-touch-icon-76x76.png" />
<link rel="apple-touch-icon-precomposed" sizes="152x152" href="../../assets/img/gforce-fav-icon-grey/apple-touch-icon-152x152.png" />
<link rel="icon" type="image/png" href="../../assets/img/gforce-fav-icon-grey/favicon-196x196.png" sizes="196x196" />
<link rel="icon" type="image/png" href="../../assets/img/gforce-fav-icon-grey/favicon-96x96.png" sizes="96x96" />
<link rel="icon" type="image/png" href="../../assets/img/gforce-fav-icon-grey/favicon-32x32.png" sizes="32x32" />
<link rel="icon" type="image/png" href="../../assets/img/gforce-fav-icon-grey/favicon-16x16.png" sizes="16x16" />
<link rel="icon" type="image/png" href="../../assets/img/gforce-fav-icon-grey/favicon-128.png" sizes="128x128" />
<meta name="application-name" content="&nbsp;"/>
<meta name="msapplication-TileColor" content="#FFFFFF" />
<meta name="msapplication-TileImage" content="../../assets/img/gforce-fav-icon-grey/mstile-144x144.png" />
<meta name="msapplication-square70x70logo" content="../../assets/img/gforce-fav-icon-grey/mstile-70x70.png" />
<meta name="msapplication-square150x150logo" content="../../assets/img/gforce-fav-icon-grey/mstile-150x150.png" />
<meta name="msapplication-wide310x150logo" content="../../assets/img/gforce-fav-icon-grey/mstile-310x150.png" />
<meta name="msapplication-square310x310logo" content="../../assets/img/gforce-fav-icon-grey/mstile-310x310.png" />
    <title>The Global Work & Travel Co. - gForce</title>



    <link href="../../assets/css/materialism.css" rel="stylesheet" />
    <link href="../../assets/css/angular-ui-select.css" rel="stylesheet" />
    <link href="../../assets/css/helpers.css" rel="stylesheet" />
    <link href="../../assets/css/ripples.css" rel="stylesheet" />

    <!--    <link href="../../assets/css/styles2.min.css" rel="stylesheet" />-->


    <!--  <link href="/bower_components/ng-table/dist/ng-table.css" rel="stylesheet" />-->
    <link href="../../assets/css/vendors2.min.css" rel="stylesheet" />

    <link href="../../assets/css/style.css" rel="stylesheet" />
<!--    <link href="../../assets/css/main.css" rel="stylesheet" />-->
	<link href="../../assets/css/main.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://rawgit.com/esvit/ng-table/master/dist/ng-table.min.css">
    <link href="../../assets/css/ngDialog.css" rel="stylesheet" />
    <link rel="stylesheet" href="../../assets/css/animate.min.css">
    <link href="../../assets/css/typeaheadjs.css" rel="stylesheet">
    <link href="../../assets/css/massautocomplete.theme.css" rel="stylesheet" type="text/css">

<!--    <link rel="stylesheet" href="https://gitcdn.xyz/repo/angular/bower-material/master/angular-material.css">-->
	
<!--        <link rel="stylesheet" href="../../assets/css/angular-material.css">-->
	<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/0.11.2/angular-material.min.css">
    <link href="../../assets/css/angular-timeline.css" rel="stylesheet" type="text/css">
<!--	<link href="../../assets/css/select.css" rel="stylesheet" type="text/css">-->
<!--	<link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/select2/3.4.5/select2.css">-->
<!--	<link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.8.5/css/selectize.default.css">-->

<!--	 <link rel="stylesheet" href="../../assets/css/angular-timeline-bootstrap.css" />-->
<!--<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">-->
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>  <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/es5-shim/2.2.0/es5-shim.js"></script>
    <script>
      document.createElement('ui-select');
      document.createElement('ui-select-match');
      document.createElement('ui-select-choices');
    </script>
<![endif]-->
    <script type="text/javascript" src="../../assets/js/vendors/directives/jquery.min.js"></script>


    <!--    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>-->
    <script src="../../assets/js/angular.min.js"></script>
	
    <script src="../../assets/js/vendors/angular-animate.js"></script>
<!--	    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-animate.min.js"></script>-->
    
	
    <script src="../../assets/js/vendors/directives/angular-route.js"></script>


    <script src="../../app.js"></script>
    <!--    <script src="../../assets/js/globalcrm.min.js"></script>-->
    <script src="../../app/js/globalcrm.js"></script>

    <script data-require="angular-ui-bootstrap@0.3.0" data-semver="0.3.0" src="../../assets/js/vendors/directives/ui-bootstrap-tpls-0.3.0.min.js"></script>

    <script src="../../assets/js/vendors/directives/ng-table.min.js"></script>


    <script src="../../assets/js/vendors/angular-strap.min.js"></script>
    <script src="../../assets/js/vendors/angular-strap.tpl.min.js"></script>

    <!-- page loading use -->
    <script src="../../assets/js/vendors/directives/promise-tracker.js"></script>
    <!-- optional for $http sugar -->
    <script src="../../assets/js/vendors/directives/promise-tracker-http-interceptor.js"></script>
	
    <script src="../../assets/js/vendors/directives/angular-aria.js"></script>
	
<!--    <script src="../../assets/js/vendors/directives/angular-material.min.js"></script>-->
	   <script src="https://ajax.googleapis.com/ajax/libs/angular_material/0.11.2/angular-material.min.js"></script>
	
	<script src="../../assets/js/vendors/directives/new/readmore.js"></script>
	<script src="../../assets/js/vendors/directives/new/angular-timeline.js"></script>
<!--<script src="../../assets/js/vendors/directives/new/ng-idle-develop/angular-idle.js"></script>-->
    <script src="../../assets/js/vendors/directives/new/angular-idle-service.js"></script>
<!--	<script src="../../assets/js/vendors/directives/new/select.js"></script>-->
    <!--    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>-->
    <script type="text/javascript" src="http://fgnass.github.io/spin.js/spin.min.js"></script>
     <script src="../../assets/js/vendors/directives/new/angular-spinner-master/angular-spinner.js"></script>
    
</head>

<body ng-app="myApp" scroll-spy="" id="top" class=" theme-template-dark theme-pink alert-open alert-with-mat-grow-top-right" ng-controller="mainCtrl">
    <main>
        <div ng-include src="'sidebar.html'"></div>
        <div class="main-container">
            <div ng-include src="'topnav.html'"></div>

            <!--   <div class="main-content" autoscroll="true" ng-cloak ng-view bs-affix-target init-ripples></div>-->
            <div class="background" accesskey=""autoscroll="true" ng-cloak ng-view bs-affix-target init-ripples></div>

        </div>
    </main>


    <script charset="utf-8" src="../../assets/js/vendors/bootstrap.js"></script>
    <!-- this bootstrap.js will influences menu toggle-->

    <script charset="utf-8" src="../../assets/js/vendors/select.js">


    </script>
    <script charset="utf-8" src="../../assets/js/vendors/angular-sanitize.js"></script>
    <script charset="utf-8" src="../../assets/js/vendors/angular-local-storage.js"></script>
    <script charset="utf-8" src="../../assets/js/vendors/loading-bar.js"></script>

    <script charset="utf-8" src="../../assets/js/vendors/jcs-auto-validate.min.js"></script>

    <script charset="utf-8" src="../../assets/js/vendors/ng-file-upload-file-api.js"></script>

    <script charset="utf-8" src="../../assets/js/vendors/hammer.js"></script>
    <script charset="utf-8" src="../../assets/js/vendors/jquery.hammer.js"></script>
    <script charset="utf-8" src="../../assets/js/vendors/velocity.js"></script>

    <script charset="utf-8" src="../../assets/js/vendors/d3.js"></script>
    <script charset="utf-8" src="../../assets/js/vendors/c3.js"></script>
    <script charset="utf-8" src="../../assets/js/vendors/c3js-directive.js"></script>


    <script charset="utf-8" src="../../assets/js/vendors/lodash.js"></script>
    <script charset="utf-8" src="../../assets/js/vendors/angular-google-maps.js"></script>
    <script charset="utf-8" src="../../assets/js/vendors/jquery-jvectormap-1.2.2.min.js"></script>
    <script charset="utf-8" src="../../assets/js/vendors/jquery-jvectormap-world-mill-en.js"></script>

    <script charset="utf-8" src="../../assets/js/vendors/jquery.nouislider.js"></script>
    <script charset="utf-8" src="../../assets/js/vendors/elastic.js"></script>
    <script charset="utf-8" src="../../assets/js/vendors/ng-file-upload-shim.js"></script>
    <script charset="utf-8" src="../../assets/js/vendors/ng-file-upload.js"></script>

    <script charset="utf-8" src="../../assets/js/vendors/textAngular-rangy.min.js"></script>
    <script charset="utf-8" src="../../assets/js/vendors/textAngular-sanitize.min.js"></script>
    <script charset="utf-8" src="../../assets/js/vendors/textAngular.min.js"></script>

    <script charset="utf-8" src="../../assets/js/vendors/angulartics.min.js"></script>
    <script charset="utf-8" src="../../assets/js/vendors/angulartics-ga.min.js"></script>



    <script charset="utf-8" src="../../assets/js/vendors/angular-placeholders.js"></script>
    <script charset="utf-8" src="../../assets/js/vendors/side-nav.js"></script>
    <script charset="utf-8" src="../../assets/js/vendors/ripples.js"></script>
    <script charset="utf-8" src="../../assets/js/vendors/fsm-sticky-header.js"></script>
    <script charset="utf-8" src="../../assets/js/vendors/angular-smooth-scroll.js"></script>

    <script charset="utf-8" src="../../assets/js/vendors/colors.js"></script>


    <!-- this form control.js will influence the input label toggle functions -->
    <script charset="utf-8" src="../../assets/js/vendors/directives/formcontrol.js">


    </script>

    <script charset="utf-8" src="../../assets/js/vendors/directives/navbar-toggle.js"></script>
    <script charset="utf-8" src="../../assets/js/vendors/directives/todo-widget.js"></script>
    <script charset="utf-8" src="../../assets/js/vendors/directives/vectormap.js">


    </script>
    <script charset="utf-8" src="../../assets/js/vendors/directives/autofocus.js"></script>
    <script charset="utf-8" src="../../assets/js/vendors/directives/card-flip.js"></script>
    <script charset="utf-8" src="../../assets/js/vendors/directives/init-ripples.js"></script>
    <script charset="utf-8" src="../../assets/js/vendors/services/color-service.js"></script>
    <script charset="utf-8" src="../../assets/js/vendors/services/todo-service.js"></script>

    <script charset="utf-8" src="../../assets/js/vendors/directives/angular-popup-boxes.js"></script>
    <script charset="utf-8" src="../../assets/js/vendors/directives/ngDialog.js"></script>
    <script src="../../assets/js/vendors/directives/ng-file-upload-shim.min.js"></script> <!-- for no html5 browsers support -->
    <script src="../../assets/js/vendors/directives/ng-file-upload.min.js"></script>
  

    <!--
<script charset="utf-8" src="../../assets/js/vendors.min.js">
</script>
<script charset="utf-8" src="../../assets/js/app.min.js"></script>
-->

<!-- usersnap widget for collecting feedback -->
<script type="text/javascript">
(function() {
var s = document.createElement("script");
s.type = "text/javascript";
s.async = true;
s.src = '//api.usersnap.com/load/'+
       'bbfa8111-6ba1-4778-b44e-7125d1099ea6.js';
var x = document.getElementsByTagName('script')[0];
x.parentNode.insertBefore(s, x);
})();
</script>

	<script> var HW_config = { selector: ".changelog", account: "EyoAq7"  }; </script> <script async src="//cdn.headwayapp.co/widget.js"></script>
	
</body>

</html>
