.radioBlock {
    padding-top: 20px;
}
.radioBlockRadio {
    display: inline-block;
    margin-left: 5px;
}
.ngTableElements {
    text-align: center;
}
.redFlag {
    border-top: 2px solid #F44336;
}
.yellowFlag {
    border-top: 2px solid #fdd835;
}
//loading icon below
.loader {
    display: inline-block;
    width: 30px;
    height: 30px;
    position: relative;
    border: 4px solid #Fff;
    top: 50%;
    animation: loader 2s infinite ease;
}
.loader-inner {
    vertical-align: top;
    display: inline-block;
    width: 100%;
    background-color: #fff;
    animation: loader-inner 2s infinite ease-in;
}
@keyframes loader {
    0% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(180deg);
    }
    50% {
        transform: rotate(180deg);
    }
    75% {
        transform: rotate(360deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
@keyframes loader-inner {
    0% {
        height: 0%;
    }
    25% {
        height: 0%;
    }
    50% {
        height: 100%;
    }
    75% {
        height: 100%;
    }
    100% {
        height: 0%;
    }
}
//.hide {
//    display: none;
//    margin: 0% auto;
//    max-width: 400px;
//}
.show {
    margin: 0% auto;
    max-width: 400px;
    display: block !important;
}
.show2 {
    display: block !important;
}
.login {
    display: none;
}
//wronglocation 
.wronglocation {
    
    margin-left: auto;
    margin-right: auto;
}
.notification-global {
    position: fixed;
    top:100px;
    right: 40px;
    width: 380px;
    z-index: 9999;
}
//login error
.showError {
    display: block !important;
}
.loginError {
    display: none;
}


//users page 
.tableColumn {
    text-transform: capitalize;
}

//profile page

//profile page, note icone badge
#noteBadge
{
	background: #CD4B5B;
	height: 20px;
    width: 20px;
	line-height: 16px;
	font-size: 11px;
	cursor: pointer;
	position: absolute;
	text-align: center;
	border-radius: 20px;
  	color: #fff;
	opacity: 1;
    transform: scale(0.6);
	left: 38px;
	bottom: 28px;
}

.Smallprofile
{
    line-height: 27px !important;
}

.profileTable input[type="text"]
{
	font-size: 13px !important;

}

.profileTable input
{
	width: 100% !important;
	height: 35px !important;
}

//profile page, no input border when not editing
.notEditingInput
{
	border: 0;
	background: transparent;
}

.notEditingInput:focus {
	background: transparent;
	border-bottom: 2px dotted #ccc;
}

.line tbody tr:first-child td
{
    border-top: none;
}

.resumeicon
{
    float: right;
    color: #D81B60;
    padding-left: 6px;
}

.apibutton
{
    margin-top: 5px;
}

.tcDetails
{
    height:400px;
    overflow:auto;//make this div scrollable
    border:2px solid #ddd;
    padding:20px;
    border-radius:6px
}

.taskLog
{
	padding-left: 50px; 
	font-weight: bold;
}

//prifile page - payment section - summary
.profilePaymentSummary
{
	font-size: 14px; 
	font-weight: bold;
}

//for all
.capitalize {
    text-transform: capitalize;
}

.boldfont
{
	font-weight: bold;
}

.nopaddingleft
{
	padding-left: 0px !important;
}

//resume form
.wraptable
{
    white-space: pre-wrap !important;
}


//resume profile
.editbutton 
{
    float: right;
}

.rednotification {
    border-bottom: 2px dotted #F44336;
}

.global-button
{
    padding: 6px !important; 
    line-height: 16px !important;
}

.global-button-icon
{
    font-size: 19px !important; 
    height: 16px !important;
}

//for ng-view
.background
{
    background-color: #F9F9F9;
}

//tab badge
.newbadge
{
    padding: 3px 7px !important; 
    font-size: 12px !important; 
    line-height: 15px !important; 
    margin-left: 5px !important; 
    background-color: #CC1515 !important;
}

//logo
.logoImg
{
	height: 100px;
}

.higherLogo
{
	margin: 25px;
	text-align: center;
}

//top search box
md-autocomplete
{
	width: 400px;
}

.topSearchBoxDropdown
{
	
}

#topSearchBoxInput
{
	-webkit-box-shadow: inset 0 0 0 #2196F3 !important;
	box-shadow: inset 0 0 0 #2196F3 !important;
	
}
.md-virtual-repeat-container .md-virtual-repeat-scroller {top:13px !important;}

.md-autocomplete-suggestions li {font-family: roboto;}

.md-scroll-mask { position: initial !important;} //move the .md-scroll-mask to make sure ng-view pages working fine after redirect from selecting change


//readmore
.note_title h6{
	text-align: right;
}
.note_title h5{
	text-align: left;
	line-height: 15px;
}
.note_title {
	display: block;
}

.dots
{
	display: inline !important;
}

.readmore
{
	display: block;
	background: #f5f5f5;
    padding: 10px;
}
.readmore pre
{
	display: inline !important;
	padding: 0px !important;
	border: 0px !important;

}

//angular aside scrolling page - right position
.close2
{
	left: -25px !important;
}

//log box
.log-table td, .log-table th {
border: 1px solid #f0f0f0;
text-align: center; }

//profile -timeline
.timeline:before //The :before selector inserts something before the content of each selected element(s).
{
	left: 50% !important;
}

//top headwayapp icon
#HW_badge_cont {
 height: 42px !important;
top: -42px !important;
}
#HW_badge {
	top: 0px !important;
    left: 30px !important;
}

//sales section - payroll - editing sliding page
.presentationEditingTable tr
{
	height: 35px;
}

.presentationEditingTable input[type="text"]
{
	font-size: 13px !important;
}

.presentationEditingTable .f20
{
	font-size: 13px !important;
}
.payrun_total .row{
	border-bottom: 1px dotted #ccc;
}

